.menu__link{
    color:#FFFAEC;
    margin-right: 1rem;
    text-decoration: none;
    font-weight: 400;
    font-size: 3.2rem;
}

.menu__link:hover{
    color: #F8CF65;
}

.menu__link.activo{
    color: #F8CF65; 
}