.menu__link{
    color: var(--light);
    margin-right: 1rem;
    text-decoration: none;
    font-weight: 400;
    font-size: 3.2rem;
}

.menu__link:hover{
    color: var(--yellow);
}

.menu__link.activo{
    color:var(--yellow); 
}